/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

.animateitOne {
    border-radius: 2em;
    /* padding: 0.2em; */
    background: rgb(142, 194, 236);
    color: #5fff9f !important;
    position: absolute;
    animation: myfirst 2s;
    top: 4.9em;
    left: 0px;
    /* width: 0.1em; */
    /* animation-duration: 10s; */
    /* animation-timing-function: ease; */
    /* left: 20em;  */
    /* animation-iteration-count: infinite; */
    border: 5px solid dodgerblue;
    background: darkblue;
    -webkit-animation: myfirst 10s infinite linear;
}


@-webkit-keyframes myfirst {
    0% {
        -webkit-transform: rotate3d(1, 1, 1, 0deg);
        -ms-transform: rotate3d(1, 1, 1, 0deg);
        -o-transform: rotate3d(1, 1, 1, 0deg);
        transform: rotate3d(1, 1, 1, 0deg);
    }

    50% {
        -webkit-transform: rotate3d(1, 1, 1, 180deg);
        -ms-transform: rotate3d(1, 1, 1, 180deg);
        -o-transform: rotate3d(1, 1, 1, 180deg);
        transform: rotate3d(1, 1, 1, 180deg);
    }

    100% {
        -webkit-transform: rotate3d(1, 1, 1, 360deg);
        -ms-transform: rotate3d(1, 1, 1, 360deg);
        -o-transform: rotate3d(1, 1, 1, 360deg);
        transform: rotate3d(1, 1, 1, 360deg);
    }
}

/* @keyframes myfirst {
    0% {
      left: 0%;
    }
  
    20% {
      transform: rotateZ('40');
    } */
/* 
    40% {
      left: 40%;
    }
  
    60% {
      left: 60%;
    }
  
    80% {
      left: 80%;
    }
  
    100% {
      left: 84.7%;
    } */

/* } */










/* ...............Media Query............. */

.container {
    width: 100%;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}